.git
.idea
**/.git
**/.idea
**/node_modules
**/dist
**/target
**/.tmp
**/*.log
**/*.tmp
**/*.swp
**/*.class
**/*.jar
Game_Frontend/.git
Game_Frontend/node_modules
Game_Frontend/dist
wa-demo-service/target
wa-common/target
wa-api/target
