MYSQL_PORT=3308
MYSQL_DATABASE=wa_demo
MYSQL_USERNAME=wa_demo
MYSQL_PASSWORD=wa_demo
MYSQL_ROOT_PASSWORD=root

REDIS_PORT=6380
REDIS_PASSWORD=

RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

NACOS_PORT=8849
NACOS_GRPC_PORT=9849
NACOS_MYSQL_USERNAME=root
NACOS_MYSQL_PASSWORD=root
NACOS_NAMESPACE=
NACOS_GROUP=DEFAULT_GROUP
NACOS_USERNAME=
NACOS_PASSWORD=

BACKEND_PORT=8080
FRONTEND_PORT=80

AUTH_ACCESS_TOKEN_TTL=30m
AUTH_REFRESH_TOKEN_TTL=7d
